.nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.navbar {
  width: 90%;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
}
.links-container {
  list-style: none;
  display: flex;
  align-items: center;
}
.links-container li {
  margin: 0 10px;
  font-weight: 600;
}
.links-container li:hover {
  color: #f7931e;
}
.nav-logo-text {
  font-style: italic;
  color: #f7931e;
  font-size: 22px;
  margin-left: 15px;
  font-weight: 600;
}
.logout-btn {
  background-color: #f7931e;
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  font-weight: 600;
}
